<%= render 'shared/navbar' %>

<div class="container-fluid">
  <div class="d-flex justify-content-center">
    <% if @pool.photo.attached? %>
      <%= cl_image_tag @pool.photo.key, class:'img-fluid mx-auto my-3 rounded-5', width: '500', crop: :fill %>
    <% else %>
      <%= image_tag 'placeholder-image.jpg', class:'img-fluid mx-auto my-3 rounded-5', alt: "Pool picture", width: '500' %>
    <% end %>
  </div>

  <h2 class="secondary-title text-center"><%= @pool.name.upcase %></h2>
    <div class="d-flex justify-content-center">
      <% if current_user.saved_pools.exists?(pool: @pool) %>
        <%= link_to 'Unsave', pool_saved_pool_path(@pool, current_user.saved_pools.find_by(pool_id: @pool.id)), data: { turbo_method: :delete }, class: "gray-large-rounded-btn-hover-red" %>
      <% else %>
        <%= link_to 'Save', pool_saved_pools_path(@pool), data: { turbo_method: :post }, class: "gray-large-rounded-btn-hover-green" %>
      <% end %>
    </div>
  <hr>
  <p>Location: <%= @pool.address %></p>
  <p>Rating: ★★★★☆</p>
  <p>Price: €<%= @pool.price_per_day %> per person per day</p>
  <h2 class="secondary-title mt-3">DESCRIPTION</h2>
  <hr>
  <p><%= @pool.overview %></p>

  <%# On affiche la possibilité de réserver et le nom du user que si ce n'est pas le proprio %>
  <% if @pool.user != current_user %>
  <div class="container-fluid border p-3 mb-2">
    <div class="booking-card">
    <%# Formulaire non mis en forme, methode bookings#create non définie %>
    <%= render 'pools/booking_form', pool: @pool, booking: @booking %>
    </div>
  </div>



  <h2 class="secondary-title text-center">YOUR HOST</h2>
  <p class="text-center">Hosted by <%= @pool.user.first_name %></p>

  <%# Si une photo de user existe on l'affiche sinon on affiche le placeholder%>
  <div class="avatar-square mx-auto my-3">
    <% if @pool.user.photo.attached? %>
        <%= cl_image_tag @pool.user.photo.key, class:'img', size: '164', crop: :fill %>
      <% else %>
        <%= image_tag 'placeholder-image.jpg', class:'img', alt: "Pool picture" %>
      <% end %>
  </div>
  <% end %>

</div>

<%= render 'shared/footer' %>
