<%= render 'shared/navbar' %>

<div class="container-fluid text-center mt-3">
  <h1>MY ACCOUNT</h1>
  <%= link_to destroy_user_session_path, data: { "turbo-method": :delete } do %>
    <div class="btn btn-outline-secondary">Log Out</div>
  <% end %>
  <hr>
  <h2>MY BOOKINGS</h2>
  <div class="d-flex flex-wrap">
    <% @user.bookings.each do |booking| %>
    <%# la classe booking de la div ci-dessous n'est pas encore définie en CSS %>
      <div class="booking m-auto">
        <h3><%= booking.pool.name %></h3>
        <ul style="list-style-type: none">
          <li>Status: <%= booking.status %></li>
          <li>Address: <%= booking.pool.address %></li>
          <li>Price: €<%= booking.total_price %></li>
          <li>Starts: <%= booking.start_date.strftime("%d/%m/%Y") %></li>
          <li>Ends: <%= booking.end_date.strftime("%d/%m/%Y") %></li>
        </ul>
        <hr>
      </div>
    <% end %>
  </div>
  <h2>MY POOLS</h2>
  <div class="d-flex flex-wrap">
    <% @user.pools.each do |pool| %>
      <div class="m-auto">
        <%= link_to pool_path(pool) do %>
          <%# Si une photo de pool existe on l'affiche sinon on affiche le placeholder%>
          <%# Il faudrait refacto en utilisant la partial pool_card %>
          <% if pool.photo.attached? %>
            <%= cl_image_tag pool.photo.key, class:'img-fluid mx-auto my-3 rounded-5', width: '500', crop: :fill %>
          <% else %>
            <%= image_tag 'placeholder-image.jpg', class:'img-fluid mx-auto my-3 rounded-5', alt: "Pool picture", width: '500' %>
          <% end %>
        <% end %>

          <h3><%= pool.name.upcase %></h2>
          <p>Location: <%= pool.address %></p>
          <p>Rating:</p>
          <p>Price: €<%= pool.price_per_day %> per person per day</p>
          <hr>
        </div>
    <% end %>
  </div>
  <h2>PROFILE</h2>
  <ul style="list-style-type: none">
    <li>Pseudo: <%= @user.pseudo %></li>
    <li>First name: <%= @user.first_name %></li>
    <li>Last name: <%= @user.last_name %></li>
    <li>Email: <%= @user.email %></li>
    <li>Joined: <%= @user.created_at.strftime("%d/%m/%Y") %></li>
  </ul>
</div>
